body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  min-height: 100vh;
}
.main {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.login-header {
  height: 280px;
  padding: 70px 15px 160px;
  background-color: #59B1F0;
  margin-bottom: -90px;
}
.login-header a svg {
  width: 30px;
  height: 30px;
}
.login-header a span {
  color: white;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.login-main {
  background: white;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  padding: 20px;
}
.login-main .form-title {
  font-size: 22px;
}
.login-main a {
  font-size: 14px;
}
.login-main .login-button,
.login-main .register-button {
  margin-top: 25px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  background-color: #00D281;
  border-color: #00D281;
  width: 150px;
}
.login-main .login-button .login-icon,
.login-main .register-button .login-icon {
  display: none;
}
.login-main .login-button:hover .login-icon,
.login-main .register-button:hover .login-icon {
  display: inline;
}
.login-captcha,
.login-password,
.login-username,
.register-confirm,
.register-password,
.register-username {
  height: 50px;
}
.captcha-wrapper {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.captcha-wrapper .login-captcha {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.captcha-wrapper .btn-captcha {
  padding: 0;
  margin-left: 20px;
  width: 120px;
  height: 50px;
}
.captcha-wrapper .captcha-image {
  width: 118px;
  height: 48px;
}
.section-subscribe p {
  font-size: 20px;
  font-weight: 200;
  color: #999;
}
.login-footer {
  height: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #999;
  border-top: 1px solid #e1e1e1;
}
